.container {
    background-color: white;
}

.title {
    text-align: center;
    color: black;
    margin: 3em 0;
}

.contactList {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.contactList li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contactList img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
    transition: .3s;

}
.contactList li > img:hover {
    width: 100px;
}