.container {
  box-shadow: 0 0 5px var(--tertiary);
  background-color: var(--background);
  border-bottom: 1px solid var(--tertiary);
}

.nav {
  /* border-bottom: 1px solid var(--tertiary) */
}

.ul {
  transition: 0.3s;

  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.li {
  border-radius: 10px;
}

.li a {
  display: inline-block;
  color: var(--paragraph);
  text-decoration: none;
  padding: 10px;
  transition: 0.3s;
}

.li:hover {
  background-color: var(--highlight);
  color: white;
}

@media screen and (max-width: 768px) {
  .nav {
  }
  .ul {
    position: fixed;
    width: 100vw;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    gap: 3px;
    z-index: 1;
    justify-content: start;
    padding-top: 60px;
  }
  .showMenu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background);
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--tertiary);
    display: flex;
    align-items: center;
  }
  .showMenu button {
    height: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    margin-left: 1.2rem;
  }
  .li {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
  }
  .li a {
    width: 100%;
  }
}
